{
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"bracketSameLine": true,
	"printWidth": 120,
	"semi": true,
	"singleQuote": true,
	"tabWidth": 4,
	"trailingComma": "none",
	"endOfLine": "lf",
	"apexInsertFinalNewline": false,
	"useTabs": true,
	"overrides": [
		{
			"files": "**/lwc/**/*.html",
			"options": { "parser": "lwc" }
		},
		{
			"files": "*.{cls,trigger}",
			"options": { "parser": "apex", "tabWidth": 2, "useTabs": true }
		},
		{
			"files": "*.trigger",
			"options": { "printWidth": 200 }
		},
		{
			"files": "*.{cmp,page,component}",
			"options": {
				"parser": "html",
				"useTabs": true,
				"htmlWhitespaceSensitivity": "css"
			}
		},
		{
			"files": "*.{apex,soql}",
			"options": { "parser": "apex-anonymous" }
		},
		{
			"files": "*.{yml,yaml}",
			"options": { "parser": "yaml", "tabWidth": 2, "useTabs": false }
		},
		{
			"files": ".prettier*",
			"options": { "parser": "json", "printWidth": 80, "useTabs": true }
		},
		{
			"files": "*.xml",
			"options": {
				"parser": "xml",
				"useTabs": true,
				"singleQuote": false,
				"xmlSelfClosingSpace": true
			}
		},
		{
			"files": ["**/pmd/*.xml", "*ruleset*.xml", "config/**/*.xml"],
			"options": {
				"parser": "xml",
				"xmlSelfClosingSpace": true,
				"xmlWhitespaceSensitivity": "ignore"
			}
		},
		{
			"files": "*meta.xml",
			"options": {
				"parser": "xml",
				"useTabs": false,
				"xmlSelfClosingSpace": false
			}
		},
		{
			"files": "*.json",
			"options": {
				"parser": "json-stringify",
				"useTabs": false,
				"tabWidth": 2
			}
		},
		{
			"files": "doc*/*.html",
			"options": {
				"parser": "html",
				"useTabs": true,
				"tabWidth": 2,
				"printWidth": 150,
				"htmlWhitespaceSensitivity": "ignore",
				"singleQuote": false
			}
		}
	],
	"plugins": ["prettier-plugin-apex", "@prettier/plugin-xml"],
	"$schema": "https://json.schemastore.org/prettierrc"
}
