{
	"trailingComma": "none",
	"apexInsertFinalNewline": false,
	"useTabs": true,
	"printWidth": 160,
	"tabWidth": 2,
	"singleQuote": true,
	"overrides": [
		{
			"files": "**/lwc/**/*.html",
			"options": { "parser": "lwc" }
		},
		{
			"files": ".prettierrc",
			"options": { "parser": "json", "printWidth": 80 }
		},
		{
			"files": "*.{cmp,page,component}",
			"options": { "parser": "html" }
		},
		{
			"files": ".json",
			"options": { "parser": "json", "printWidth": 80 }
		},
		{
			"files": "*.{yaml,yml}",
			"options": { "useTabs": false, "tabWidth": 2, "singleQuote": true }
		},
		{
			"files": "doc*/*.js",
			"options": {
				"parser": "babel",
				"singleQuote": false
			}
		},
		{
			"files": "*.{prettierrc, json}",
			"options": {
				"parser": "json",
				"printWidth": 80,
				"useTabs": true,
				"singleQuote": false
			}
		},
		{
			"files": "docs/*.html",
			"options": {
				"parser": "html",
				"useTabs": true,
				"tabWidth": 2,
				"printWidth": 150,
				"htmlWhitespaceSensitivity": "css",
				"singleQuote": false
			}
		}
	],
	"plugins": ["prettier-plugin-apex", "@prettier/plugin-xml"],
	"$schema": "https://json.schemastore.org/prettierrc"
}
