code {
    background-color: #f6f8fa;
}

pre {
    background-color: #f6f8fa;
    white-space: pre;
}

pre code {
    white-space: pre-wrap;
    font-size: 120%;
}

.hljs {
    background: #f6f8fa;
}

.methodtable {
    border-collapse: collapse;
    width: 100%;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: left;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.methodtable th {
    color: #000;
    font-weight: bold;
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
}
.methodtable tr:nth-child(even) {
    background-color: #f2f2f2;
}
.methodtable td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}
